{% extends 'template.html' %}
{% load static %}
{% load i18n %}

{% block intitule_page %}Connexion{% endblock %}
{% block main %}
    <div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col-lg-6 d-none d-lg-block bg-login-image">
              </div>
              <div class="col-lg-6">
                <div class="p-5">
                  <div class="text-left">
                    <h1 class="h4 text-gray-900 mb-4">LeChatongramVx</h1>
                    <hr/>
                    <h3 class="h5 text-gray-900 mb-5"> Connexion</h3>
                  </div>
                    {% if message_error %}
                      <div  class="error text-danger">
                        {{ message_error }}
                      </div>
                    {% endif %}
                  <form class="user" method="post" action="{% url 'login' %}">
                      {% csrf_token %}
                    <div class="form-group">
                        <label class="" for="{{ form.username.id_for_label }}">{{ form.username.label }}</label>
                        {{ form.username }}
                    </div>
                    <div class="form-group">
                        <label class="" for="{{ form.password.id_for_label }}">{{ form.password.label }}</label>
                        {{ form.password }}
                    </div>
                    <button type="submit" class="btn btn-primary btn-user btn-block">
                      Login
                    </button>
                    <hr>
                    <a href="#" class="btn btn-google btn-user btn-block">
                      <i class="fab fa-google fa-fw"></i> Login with Google
                    </a>
                    <a href="#" class="btn btn-facebook btn-user btn-block">
                      <i class="fa fa-facebook-square"></i> Login with Facebook
                    </a>
                  </form>
                  <hr>
                  <div class="text-center">
                    <a class="small" href="#">Forgot Password?</a>
                  </div>
                  <div class="text-center">
                    <a class="small" href="#">Create an Account!</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>
{% endblock %}