{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block icon %}<link rel="icon" type="image/x-icon" href="{% static 'beak_solo.png' %}">{% endblock %}

{% block navigation %}
    <nav style="background-color: #600769;" class="navbar navbar-expand-lg fixed-top">
        <div class="container">
          <a style="color: #fff;" class="navbar-brand" href="#">
              <img width="40" height="40" class="img-rounded" src="{% static 'beak_solo.png' %}" alt=""/>
              BeakHub
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </nav>
{% endblock %}
{% block main %}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-3 col-md-3"></div>
                <div class="col-lg-6 col-md-6">
                    <div style="padding-top: 20px;" class="text-center">
                        <p class="h3">{% trans 'Reset your password' %}</p>
                    </div>
                    {% if message != None %}
                        {% if success %}
                            <p class="alert alert-success">{{ message }}</p>
                        {% else %}
                            <p class="alert alert-danger">{{ message }}</p>
                        {% endif %}
                    {% endif %}

                    {% if success != True %}
                        <form class="form center" action="{% url 'initialize_password' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="username_encrypt" value="{{ username_encrypt }}">
                            <div class="form-group">
                                <label for="password">{% trans 'New Password' %}</label>
                                <input class="form-control mr-sm-4" name="password"
                                       type="password" placeholder="{% trans 'New Password' %}">
                            </div>

                            <div class="form-group">
                                <label for="confirmPassword">{% trans 'Confirm Password' %}</label>
                                <input class="form-control mr-sm-4" name="confirmPassword"
                                       type="password" placeholder="{% trans 'Confirm Password' %}">
                            </div>

                            <button style="background-color: #600769; color: #fff" class="btn my-2 my-sm-0" type="submit">
                                <span class="glyphicon glyphicon-send"></span> {% trans 'send' %}
                            </button>
                        </form>
                    {% endif %}

                </div>
                <div class="col-lg-3 col-md-3"></div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block footer %}
    <footer height="20" class="py-5 page-footer" style="height: 20px; background-color: #600769;padding-top: 20px; position:absolute;margin-top: 20px;
   bottom:0; width: 100%">
        <div class="container">
          <p class="m-0 text-center text-white">Copyright &copy; <a class="text-light" target="_blank" href="#">BeakHub</a>  2020-2021</p>
        </div>
    </footer>
{% endblock %}