{% extends 'home_movie.html' %}
{% load static %}
{% block META_OG %}{% endblock %}
{% block intitule_page %}{{ title }}{% endblock %}
{% block details_page %}
    <div class="row">
        <div class="col-lg-12"  style="margin-top: 20px;">
            <div class="row">
                <!--<div class="col-lg-2">
                    {% if profile_path != None %}
                        <img width="50" height="50" class="card-img-top img-fluid rounded-circle" src="https://image.tmdb.org/t/p/w500{{ profile_path }}" alt="{{ name }}">
                    {% else %}
                        <img width="50" height="50" class="card-img-top rounded-0" src="{% static 'not_image_disponible.svg.png' %}" alt="{{ name }}">
                    {% endif %}
                </div>-->
                <div class="col-lg-10">
                    <h3>Acteurs du film <b>{{ title }}</b></h3>(<i>{{ original_title }}</i>)
                </div>
            </div>
            <hr/>
            <div class="row">
                {% for actor in list_actor %}
                    <div class="col-lg-3 col-md-4 mb-3">
                        <div class="card h-auto">
                          <a href="{% url 'details_actor' actor.0 %}">
                              {% if actor.2 != None %}
                                <img class="card-img-top" src="https://image.tmdb.org/t/p/w500{{ actor.2 }}" alt="{{ actor.1 }}">
                            {% else %}
                                <img class="card-img-top" src="{% static 'not_image_disponible.svg.png' %}" alt="{{ actor.1 }}">
                            {% endif %}

                          </a>
                          <div class="card-body">
                            <h5 class="card-title">
                              <a href="{% url 'details_actor' actor.0 %}">{{ actor.1 }}</a>
                            </h5>
                            <div class="card-text">
                                <p>{{ 'Alias : ' }}<b>{{ actor.3 }}</b></p>
                            </div>

                          </div>
                        </div>
                  </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}