{% extends 'index.html' %}
{% load static %}
{% block META_OG %}{% endblock %}
{% block intitule_page %}{{ name }}{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-4">
                    <div class="card mt-4">
                        {% if profile_path != None %}
                            <img width="100" height="110" class="card-img-top img-fluid" src="https://image.tmdb.org/t/p/w1280{{ profile_path }}" alt="{{ name }}">
                        {% else %}
                            <img width="100" height="110" class="card-img-top" src="{% static 'not_image_disponible.svg.png' %}" alt="{{ name }}">
                        {% endif %}
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="mt-4">
                        <div class="h2">
                            {% if homepage != None %}
                                <a class="text-dark" href="{{ homepage }}" target="_blank" title="{{ name }}">{{ name }}</a>
                            {% else %}
                                {{ name }}
                            {% endif %}

                        </div>
                        <p>

                            <div>
                                Né(e) le : {% if birthday != None %}{{ birthday|date:'d M Y' }}{% else %}{{ 'Non Précisé' }}{% endif %}
                            </div>
                            <div>
                                Lieu de Naissance : {% if place_of_birth != None %}{{ place_of_birth }}{% else %}{{ 'Non Précisé' }}{% endif %}
                            </div>
                            {% if deathday != None %}
                                <div> Décédé(e) le : {{ deathday|date:'d M Y' }}</div>
                            {% endif %}
                        </p>
                        <div class="text-justify">
                            <b>Biographie</b>
                            <p>
                                {{ biography }}
                            </p>

                        </div>
                    </div>

                </div>
            </div>
            <hr/>
            <div class="row">
                <nav>
                  <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">
                        <b class="h3 text-dark">Films Majeurs</b>
                    </a>
                    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">
                        <b class="h3 text-dark">Séries Majeures</b>
                    </a>
                  </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                  <div style="margin-top: 20px; margin-bottom: 20px;" class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                      <div class="col-md-12 col-lg-12">
                            {% for movie in LIST_MOVIES_ACTOR %}
                                <div class="row">
                                    <div class="col-md-2">
                                        <img width="100" height="150" src="https://image.tmdb.org/t/p/w1280{{ movie.2 }}">
                                    </div>
                                    <div class="col-md-10">
                                        <a class="h4 text-dark" href="{% url 'details_movie' movie.0 %}">{{ movie.1 }}</a>
                                        <div><sup><b>{{ movie.3 }}</b></sup></div>
                                        <div><sup>{{ movie.5|date:'d M Y' }}</sup></div>
                                        <div>{{ movie.4|truncatechars_html:250 }}</div>
                                    </div>
                                </div>
                                <hr/>
                            {% endfor %}
                        </div>
                       <a class="card-text dark-theme" href="{% url 'movies_on_actor' id %}">
                            <div>
                                <p class="text-dark text-center"> Voir Plus</p>
                            </div>
                        </a>
                  </div>
                  <div style="margin-top: 20px; margin-bottom: 20px;" class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                      <div class="col-md-12 col-lg-12">
                            {% for tv in LIST_TV_ACTOR %}
                                <div class="row">
                                    <div class="col-md-2">
                                        <img width="100" height="150" src="https://image.tmdb.org/t/p/w1280{{ tv.2 }}">
                                    </div>
                                    <div class="col-md-10">
                                        <a class="h4 text-dark" href="{% url 'details_tv' tv.0 %}">{{ tv.1 }}</a>
                                        <div><sup><b>{{ tv.3 }}</b></sup></div>
                                        <div><sup>{{ tv.5|date:'d M Y' }}</sup></div>
                                        <div>{{ tv.4|truncatechars_html:250 }}</div>
                                    </div>
                                </div>
                                <hr/>
                            {% endfor %}
                        </div>
                      <a class="card-text" href="{% url 'tvs_on_actor' id %}">
                            <div>
                                <p class="text-dark text-center"> Voir Plus</p>
                            </div>
                        </a>
                  </div>
            </div>
            </div>
        </div>
    </div>
{% endblock %}