{% extends 'home_movie.html' %}
{% load i18n %}
{% load static %}
{% block META_OG %}
    <meta property="og:title" content="{{ title }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{% url 'details_movie' id %}">
    <meta property="og:image" content="https://image.tmdb.org/t/p/w1280{{ poster_path }}">
    <meta property="og:image:width" content="800">
    <meta property="og:image:height" content="300">
    <meta property="og:description" content="{{ overview|truncatechars:250 }}">
    <meta property="fb:app_id" content="{{ '285736978971421' }}">
    <meta property="twitter:card" content="summary">
    <link href="{% static 'css/for_comment.css' %}" rel="stylesheet">
    <link rel="canonical" href="https://lechatonguniverse.herokuapp.com{% url 'details_movie' id  %}">
    <link rel="me"  href="https://twitter.com/LeChatong">
{% endblock %}
{% block intitule_page %} {{ title }}{% endblock %}
{% block link_menu %}
    <a href="{% url 'home_movie' %}" class="list-group-item  list-group-item-action">
        <i class="text-left"><img width="32" height="32" src="{% static 'sun-black.png' %}"></i>
        {% trans 'Nouveautés' %}
    </a>
    <a href="{% url 'popular_movie' 1 %}" class="list-group-item list-group-item-action">{% trans 'Populaires' %} </a>
    <a href="{% url 'upcoming_movie' 1 %}" class="list-group-item list-group-item-action">{% trans 'A venir' %}</a>
    <a href="{% url 'donwload_movie_content' %}" class="list-group-item list-group-item-action">{% trans 'Disponible' %}</a>
{% endblock %}
{% block details_page %}
    <div class="row">
        <div class="col-lg-12" style="margin-top: 20px;">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb dark-theme">
                <li class="breadcrumb-item"><a class="text-dark" href="{% url 'home' %}">{% trans 'Accueil' %}</a></li>
                <li class="breadcrumb-item"><a class="text-dark" href="{% url 'home_movie' %}">{% trans 'Films' %}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
              </ol>
            </nav>
            <div class="card mt-4">
                {% if backdrop_path != None %}
                    <img width="800" height="300" class="card-img-top img-fluid" src="https://image.tmdb.org/t/p/w1280{{ backdrop_path }}" alt="{{ title }}">
                {% else %}
                    <img width="800" height="300" class="card-img-top" src="{% static 'not_image_disponible.svg.png' %}" alt="{{ title }}">
                {% endif %}

                <div class="card-body">
                <h3 class="card-title">
                    <div class="row">
                        <div class="col-sm-8">
                            {% if homepage != None %}
                                <a class="text-dark" href="{{ homepage }}" target="_blank">{{ title }}</a>
                            {% else %}
                                <a href="#">{{ title }}</a>
                            {% endif %}
                        </div>
                        <div class="social col-sm-4">
                            <p class="float-right text-dark">
                               <a  title="{% trans 'partager sur whatsapp' %}" href="whatsapp://send?text=https://lechatonguniverse.herokuapp.com{% url 'details_movie' id  %}" data-actions="share/whatsapp/share" id="share-wa" class="text-dark">
                                    <i class="fa fa-whatsapp"></i>
                                </a>
                                <a title="{% trans 'partager sur telegram' %}" href="tg://msg_url?url=https://lechatonguniverse.herokuapp.com{% url 'details_movie' id  %}&amp;text={{ overview|truncatechars:250 }}" class="text-dark">
                                    <i class="fa fa-paper-plane"></i>
                                </a>
                                <a title="{% trans 'partager sur facebook' %}"  target="_blank" href="http://www.facebook.com/sharer/sharer.php?u=https://lechatonguniverse.herokuapp.com{% url 'details_movie' id  %}" id="share-fb" class="text-dark">
                                  <i class="fa fa-facebook-square"></i>
                                </a>
                                <a title="{% trans 'partager sur twitter' %}" target="_blank" href="https://twitter.com/intent/tweet?original_referer=https://lechatonguniverse.herokuapp.com/&text=LeChatongUniverse - {{ title }}&url=https://lechatonguniverse.herokuapp.com{% url 'details_movie' id  %}&via=LeChatong" id="share-tw" class="text-dark">
                                    <i class="fa fa-twitter-square"></i>
                                </a>
                            </p>

                        </div>
                    </div>
                </h3>

                <p>
                    {% trans 'Genres :' %}
                    {% for genre in genres %}
                        <a class="text-dark" href="#"><b>{{ genre.name }}</b></a>,
                    {% endfor %}
                </p>
                {% if m_details != None %}
                    <p>
                        <sup><a type="button" class="btn btn-success" data-toggle="modal" data-target="#downloadModal" href="">{% trans 'Disponible' %}</a></sup>
                    </p>
                    <div class="modal fade" id="downloadModal" tabindex="-1" role="dialog" aria-labelledby="downloadModalLabel" aria-hidden="true">
                      <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">{% trans 'Lien de Téléchargement' %}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <table class="table-responsive-xl table thead-light">
                                <thead class="">
                                    <tr>
                                        <th scope="col">{% trans 'Langue' %}</th>
                                        <th scope="col">{% trans 'Vidéo' %}</th>
                                        <th scope="col">{% trans 'Audio' %}</th>
                                        <th scope="col">{% trans 'SousTitré' %}</th>
                                        <th scope="col">{% trans 'Lien' %}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for elt in m_details %}
                                        <tr>
                                            <td>{{ elt.1 }}</td>
                                            <td>{{ elt.3 }}</td>
                                            <td>{{ elt.4 }}</td>
                                            <td>{{ elt.5 }} ({{ elt.6 }})</td>
                                            <td>
                                                <a download="{{ elt.1 }}" target="_blank" href="{{ elt.2 }}">
                                                    {% trans 'Voir' %}
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}

                                </tbody>
                            </table>
                          </div>
                            <div class="modal-footer">
                                <p><a class="bold" href="https://desktop.telegram.org/" target="_blank">{{ '*Telegram' }}</a> {{ ' requis' }}</p>
                            </div>
                        </div>
                      </div>
                    </div>
                {% endif %}
                <p class="card-text text-justify">{{ overview }}</p>
                <span title="Note du film : {{ vote_average }} / 10" class="text-warning">
                    {% for i in COUNTEUR %}
                        {% if i < vote_average %}&#9733;{% else %}&#9734;{% endif %}
                    {% endfor %}
                </span>
                <p>
                    <span>{% trans 'Sortie le :' %} </span>{{ release_date|date:'d M Y' }}
                </p>
              </div>
            </div>

            <!-- /.card -->
            <div class="card card-outline-secondary my-4">
                <div class="card-header">
                    {% trans 'Acteurs' %}
                </div>
                <div class="card-body">
                    <div class="row">
                        {% for actor in list_actor %}
                            <div class="col-lg-2 text-center">
                                {% if actor.2 == None %}
                                    <a href="{% url 'details_actor' actor.0 %}" title="{{ actor.1 }}">
                                        <img width="75" height="75" alt="{{ actor.3 }}" class="rounded-circle" src="{% static 'not_image_disponible.svg.png' %}">
                                    </a>
                                {% else %}
                                    <a href="{% url 'details_actor' actor.0 %}" title="{{ actor.1 }}">
                                        <img width="75" height="75" alt="{{ actor.3 }}" class="rounded-circle" src="https://image.tmdb.org/t/p/w300{{ actor.2 }}">
                                    </a>
                                {% endif %}
                                <div>
                                    <sub><a class="text-dark" href="{% url 'details_actor' actor.0 %}" title="{{ actor.3 }}">{{ actor.1 }}</a></sub>
                                </div>
                            </div>
                        {% endfor %}
                        <div class="col-lg-2 text-center">
                            <a href="#">
                                <img width="75" height="75" alt="#" class="rounded-circle" src="{% static 'not_image_disponible.svg.png' %}">
                            </a>
                            <div>
                                <sub><a class="text-dark" href="{% url 'actors_on_movie' id %}">{% trans 'Voir Plus' %}</a></sub>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="card card-outline-secondary my-4">
              <div class="card-header">
                {% trans 'Sociétés de Production' %}
              </div>
              <div class="card-body">
                <div class="row">
                    {% for company in production_companies %}
                        <div class="col-lg-2 text-center">
                            {% if company.logo_path == None %}
                                <a href="#">
                                    <img width="75" height="75" alt="{{ company.name }}" class="rounded-bottom rounded-top" src="{% static 'not_image_disponible.svg.png' %}">
                                </a>
                            {% else %}
                                <a href="#">
                                    <img width="75" height="75" alt="{{ company.name }}" class="rounded-bottom rounded-top" src="https://image.tmdb.org/t/p/w200{{ company.logo_path }}">
                                </a>
                            {% endif %}
                            <div>
                                <sub><a class="text-dark" href="#">{{ company.name }}, {{ company.origin_country }}</a></sub>
                            </div>

                        </div>
                    {% endfor %}
                </div>

              </div>
            </div>

            <div class="card card-outline-secondary my-4">
                <div class="card-header">
                    {% trans 'Films Similaires' %}
                </div>
                <div class="card-body">
                    <div class="row">
                        {% for similar_movie in LIST_SIMILAR_MOVIES %}
                            <div class="col-lg-2 col-md-3 mb-1">
                                <div class="card h-auto">
                                  <a href="{% url 'details_movie' similar_movie.0 %}">
                                      {% if similar_movie.2 != None %}
                                        <img class="card-img-top" src="https://image.tmdb.org/t/p/w500{{ similar_movie.2 }}" alt="{{ similar_movie.1 }}">
                                    {% else %}
                                        <img class="card-img-top" src="{% static 'not_image_disponible.svg.png' %}" alt="{{ similar_movie.1 }}">
                                    {% endif %}

                                  </a>
                                    <p class="card-title text-center">
                                      <a class="text-dark" href="{% url 'details_movie' similar_movie.0 %}">{{ similar_movie.1 }}</a>
                                    </p>
                                </div>
                          </div>
                        {% endfor %}
                    </div>
                </div>
            </div>


            <!-- /.card -->


        </div>

        <div class="col-sm-12 col-sm-offset-1">
        <div class="page-header">
            <h3 class="reviews">{% trans 'Comments' %}</h3>
            <div>
                <button class="btn btn-dark btn_comment" type="button" data-toggle="modal" data-target="#commentModal" >
                    <span class="glyphicon glyphicon-comment"></span> {% trans 'add_comment' %}
                </button>
            </div>
            <div class="modal fade" id="commentModal" tabindex="-1" role="dialog" aria-hidden="true">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">{% trans 'leave_your_comment' %}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                      <form action="{% url 'details_movie' id %}" method="post" class="form-horizontal" role="form">
                          {% csrf_token %}
                          <div class="form-group">
                              <label for="{{ form.name_sender.id_for_label }}">{{ form.name_sender.label }}</label>
                              <div class="col-sm-10">
                                  {% if name_cookie != None %}
                                      <input placeholder="{% trans 'Votre nom' %}" maxlength="150" class="form-control" id = "{{ form.name_sender.id_for_label }}" value="{{ name_cookie }}" name="{{ form.name_sender.html_name }}" readonly/>
                                  {% else %}
                                {{ form.name_sender }}
                                  {% endif %}
                              </div>
                          </div>
                          <!--<div class="form-group">
                              <label for="{{ form.email_sender.id_for_label }}">{{ form.email_sender.label }}</label>
                              <div class="col-sm-10">
                                  {% if name_cookie != None %}
                                      <input maxlength="150" class="form-control" id = "{{ form.email_sender.id_for_label }}" value="{{ email_cookie }}" name="{{ form.email_sender.html_name }}" readonly/>
                                  {% else %}
                                {{ form.email_sender }}
                                  {% endif %}
                              </div>
                          </div>-->
                          <div class="form-group">
                            <label for="{{ form.message.id_for_label }}">{{ form.message.label }}</label>
                            <div class="col-sm-10">
                              {{ form.message }}
                            </div>
                        </div>
                          {% if name_cookie == None %}
                        <div class="form-group">
                            <label for="{{ form.save_in_browser.id_for_label }}">{{ form.save_in_browser.label }}</label>
                            <div class="col-sm-1">
                                {{ form.save_in_browser }}
                            </div>
                        </div>
                          {% endif %}
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button class="btn btn-info btn-circle text-uppercase" type="submit">
                                    <span class="glyphicon glyphicon-send"></span> {% trans 'send' %}
                                </button>
                            </div>
                        </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
        </div>
        {% if message_return != None %}
            <div class="alert alert-info alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">×</span><span class="sr-only">Close</span>
              </button>
                <i>{{ message_return }}</i>
            </div>
        {% endif %}
        {% if comments != None %}
            <div class="container">
                {% for comment in comments  %}
                    <div class="card card-parent">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <p>
                                        <a class="text-black h5 float-left">{{ comment.2 }}</a>
                                        <span class="float-right">{{ comment.4 |date:'d M Y' }}</span>
                                    </p>
                                    <div class="clearfix"></div>
                                    <p>{{ comment.1 }}</p>
                                    <p>
                                        <a href="" class="float-right btn btn-outline-dark ml-2"  data-toggle="modal" data-target="#commentModal{{ comment.0 }}"  id="reply">
                                            <i class="fa fa-reply"></i> {% trans 'reply' %}
                                        </a>
                                    </p>
                                </div>
                            </div>
                            <div class="modal fade" id="commentModal{{ comment.0 }}" tabindex="-1" role="dialog" aria-hidden="true">
                                  <div class="modal-dialog modal-lg" role="document">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <h5 class="modal-title">{% trans 'leave_your_comment' %}</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                        </button>
                                      </div>
                                      <div class="modal-body">
                                          <form action="{% url 'details_movie' id %}" method="post" class="form-horizontal" role="form">
                                              {% csrf_token %}
                                              <div class="form-group">
                                                    <input type="hidden" id="{{ form.comment_parent_id.id_for_label }}" value="{{ comment.0 }}" name="{{ form.comment_parent_id.html_name }}">
                                                  <label for="{{ form.name_sender.id_for_label }}">{{ form.name_sender.label }}</label>
                                                  <div class="col-sm-10">
                                                      {% if name_cookie != None %}
                                                          <input maxlength="150" class="form-control" id = "{{ form.name_sender.id_for_label }}" value="{{ name_cookie }}" name="{{ form.name_sender.html_name }}" readonly/>
                                                      {% else %}
                                                    {{ form.name_sender }}
                                                      {% endif %}
                                                  </div>
                                              </div>
                                              <!--<div class="form-group">
                                                  <label for="{{ form.email_sender.id_for_label }}">{{ form.email_sender.label }}</label>
                                                  <div class="col-sm-10">
                                                      {% if name_cookie != None %}
                                                          <input maxlength="150" class="form-control" id = "{{ form.email_sender.id_for_label }}" value="{{ email_cookie }}" name="{{ form.email_sender.html_name }}" readonly/>
                                                      {% else %}
                                                    {{ form.email_sender }}
                                                      {% endif %}
                                                  </div>
                                              </div>-->
                                              <div class="form-group">
                                                <label for="{{ form.message.id_for_label }}">{{ form.message.label }}</label>
                                                <div class="col-sm-10">
                                                  {{ form.message }}
                                                </div>
                                            </div>
                                              {% if name_cookie == None %}
                                            <div class="form-group">
                                                <label for="{{ form.save_in_browser.id_for_label }}">{{ form.save_in_browser.label }}</label>
                                                <div class="col-sm-1">
                                                    {{ form.save_in_browser }}
                                                </div>
                                            </div>
                                              {% endif %}
                                            <div class="form-group">
                                                <div class="col-sm-offset-2 col-sm-10">
                                                    <button class="btn btn-info btn-circle text-uppercase" type="submit">
                                                        <span class="glyphicon glyphicon-send"></span> {% trans 'send' %}
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                            {% for reply in comment.5 %}
                                <div class="card card-inner">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <p>
                                                    <a class="text-black h5 float-left">{{ reply.name_sender }}</a>
                                                    <span class="float-right">{{ reply.created_at |date:'d M y' }}</span>
                                                </p>
                                                <div class="clearfix"></div>
                                                <p>{{ reply.message }}</p>
                                                <p>
                                                    <a href="" class="float-right btn btn-outline-dark ml-2"  data-toggle="modal" data-target="#commentModal{{ comment.0 }}"  id="reply">
                                                        <i class="fa fa-reply"></i> {% trans 'reply' %}
                                                    </a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <div class="media-comment">
                {% trans 'not_comment' %}
            </div>
        {% endif %}

    </div>
    </div>
{% endblock %}