{% extends 'home_movie.html' %}
{% load i18n %}
{% load static %}
{% block META_OG %}
    <meta property="og:title" content="LeChatongUniverse">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{% url 'donwload_movie_content' %}">
    <meta property="og:image" content="https://lechatonguniverse.herokuapp.com{% static 'LCU-icon.png' %}">
    <meta property="og:image:width" content="640">
    <meta property="og:image:height" content="640">
    <meta property="og:description" content="{{ nb_movie }} {{ descrption }}">
    <meta property="fb:app_id" content="{{ '285736978971421' }}">
    <meta property="twitter:card" content="summary">
{% endblock %}
{% block intitule_page %}{% trans 'Films Disponibles' %}{% endblock %}
{% block link_menu %}
    <a href="{% url 'home_movie' %}" class="list-group-item list-group-item-action">
        <i class="text-left"><img width="32" height="32" src="{% static 'sun-black.png' %}"></i>
        {% trans 'Nouveautés' %}
    </a>
    <a href="{% url 'popular_movie' 1 %}" class="list-group-item list-group-item-action">{% trans 'Populaires' %}</a>
    <a href="{% url 'upcoming_movie' 1 %}" class="list-group-item list-group-item-action">{% trans 'A venir' %}</a>
    <a href="{% url 'donwload_movie_content' %}" class="list-group-item list-group-item-action list-group-item-dark active">{% trans 'Disponible' %}</a>
{% endblock %}
{% block details_page %}
    <div class="row">
        <div class="col-lg-12 col-md-10 mb-12"  style="margin-top: 20px;">
            <div class="row">
                <div class="col-lg-12 col-md-10 mb-12">
                    <h3>{{ nb_movie }}{% trans ' films disponibles' %}</h3>
                    <span class="text-dark">
                        <a  title="{% trans 'partager sur whatsapp' %}" href="whatsapp://send?text=https://lechatonguniverse.herokuapp.com{% url 'donwload_movie_content' %}" data-actions="share/whatsapp/share" id="share-wa" class="text-dark">
                            <i class="fa fa-whatsapp"></i>
                        </a>
                        <a title="{% trans 'partager sur telegram' %}" href="tg://msg_url?url=https://lechatonguniverse.herokuapp.com{% url 'donwload_movie_content' %}&amp;text={{ nb_movie }}{% trans ' films disponibles' %}" class="text-dark">
                            <i class="fa fa-paper-plane"></i>
                        </a>
                        <a title="{% trans 'partager sur facebook' %}"  target="_blank" href="http://www.facebook.com/sharer/sharer.php?u=https://lechatonguniverse.herokuapp.com{% url 'donwload_movie_content' %}" id="share-fb" class="text-dark">
                          <i class="fa fa-facebook-square"></i>
                        </a>
                        <a title="{% trans 'partager sur twitter' %}" target="_blank" href="https://twitter.com/intent/tweet?original_referer=https://lechatonguniverse.herokuapp.com/&text=LeChatongUniverse - {{ nb_movie }}{% trans ' films disponibles' %}&url=https://lechatonguniverse.herokuapp.com{% url 'donwload_movie_content' %}&via=LeChatong" id="share-tw" class="text-dark">
                            <i class="fa fa-twitter-square"></i>
                        </a>
                    </span>
                </div>
            </div>
            <hr/>
            <div class="row">
                {% for movie in list_movie %}
                    <div class="col-lg-2 col-md-2 mb-3">
                        <div class="card h-auto">
                          <a title="{{ movie.3 }}"  data-toggle="modal" data-target="#downloadModal{{ movie.0 }}" href="#"><img class="card-img-top" src="https://image.tmdb.org/t/p/w500{{ movie.4 }}" alt="{{ movie.3 }}"></a>
                          <div class="card-body">
                            <div class="card-text">
                                <div><sup><a class="text-dark" title="{{ movie.2 }}" data-toggle="modal" data-target="#downloadModal{{ movie.0 }}" href="#">{{ movie.2 | truncatechars:25 }}</a></sup></div>
                            </div>
                          </div>
                        </div>
                    </div>
                    <div class="modal fade" id="downloadModal{{ movie.0 }}" tabindex="-1" role="dialog" aria-labelledby="downloadModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">{{ movie.2 }}</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <h5>{% trans 'overview' %}</h5>
                                <p class="text-justify">{{ movie.3 }}</p>
                                <div class="text-justify">
                                    <p class="text-dark">{% trans 'langue' %} : <span>{{ movie.8 }}</span></p>
                                </div>
                                <a class="btn btn-success" target="_blank" href="{{ movie.1 }}">
                                    {% trans 'Voir' %}
                                </a>
                            </div>
                          </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

        </div>
    </div>
{% endblock %}