{% extends 'home_movie.html' %}
{% load static %}
{% block META_OG %}
    <meta property="og:title" content="LeChatongUniverse">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{% url 'donwload_movie_content' %}">
    <meta property="og:image" content="{% static 'LCU-icon.png' %}">
    <meta property="og:image:width" content="640">
    <meta property="og:image:height" content="640">
    <meta property="og:description" content="{{ nb_movie }} {{ descrption }}">
    <meta property="fb:app_id" content="{{ '285736978971421' }}">
    <meta property="twitter:card" content="summary">
{% endblock %}
{% block intitule_page %}Films Téléchargeables{% endblock %}
{% block link_menu %}
    <a href="{% url 'home_movie' %}" class="list-group-item list-group-item-action">
        <i class="text-left"><img width="32" height="32" src="{% static 'sun-black.png' %}"></i>
        {{ 'Nouveautés' }}
    </a>
    <a href="{% url 'popular_movie' 1 %}" class="list-group-item list-group-item-action">{{ 'Populaires' }}</a>
    <a href="{% url 'upcoming_movie' 1 %}" class="list-group-item list-group-item-action">{{ 'A venir' }}</a>
    <a href="{% url 'donwload_movie_content' %}" class="list-group-item list-group-item-action list-group-item-dark active">{{ 'Téléchargeable' }}</a>
{% endblock %}
{% block details_page %}
    <div class="row">
        <div class="col-lg-12 col-md-10 mb-12"  style="margin-top: 20px;">
            <div class="row">
                <div class="col-lg-12 col-md-10 mb-12">
                    <h3>{{ nb_movie }}{{ ' films disponibles en téléchargement' }}</h3>
                    <span>
                        <a class="twitter-share-button" data-size="large" href="https://twitter.com/intent/tweet">
                            @LeChatong
                        </a>
                            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                    </span>
                </div>
            </div>
            <hr/>
            <div class="row">
            <table class="table table-hover table-responsive">
                {% for elt in list_movie %}
                    <tr>
                        <td>
                            <h4 class="text-dark">
                              <a class="text-dark" title="{{ elt.3 }}" href="{% url 'details_movie' elt.0 %}">{{ elt.2 }}</a>
                            </h4>
                        </td>
                        <td>
                            <a target="_blank" href="{{ elt.1 }}">Télécharger</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
            </div>

        </div>
    </div>
{% endblock %}