{% extends 'dashboard/dashboard.html' %}
{% load i18n %}
{% load static %}
{% block intitule_page %}{% trans '' %}{% endblock %}
{% block content %}
    <div class="container-fluid">
      <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h3 class="h6 mb-0 text-gray">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb dark-theme">
                <li class="breadcrumb-item"><a class="text-dark" href="{% url 'dashboard' %}">{% trans 'dashboard' %}</a></li>
                <li class="breadcrumb-item"><a class="text-dark" href="{% url 'list_movie' %}">{% trans 'all_movies' %}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{% trans 'add_link_movie' %}</li>
              </ol>
            </nav>
        </h3>

      </div>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-dark">{% trans 'add_movie' %}</h6>
            </div>
        <div class="card-body">
            <form class="user" method="post" action="{% url 'save_movie' %}">
                  {% csrf_token %}
                <input type="hidden" name="id_movie" value="{{ id_movie }}">

                <div class="form-group">
                    <label class="" for="{{ form.link_download.id_for_label }}">{{ form.link_download.label }}</label>
                    {{ form.link_download }}
                </div>
                <div class="form-group">
                    <label class="" for="{{ form.language.id_for_label }}">{{ form.language.label }}</label>
                    {{ form.language }}
                </div>
                <div class="form-group">
                    <label class="" for="{{ form.quality.id_for_label }}">{{ form.quality.label }}</label>
                    {{ form.quality }}
                </div>
                <button type="submit" class="btn btn-primary btn-user btn-block">
                  {% trans 'save' %}
                </button>
            </form>
        </div>
    </div>
    </div>
{% endblock %}