{% extends 'dashboard/dashboard.html' %}
{% load i18n %}
{% load static %}
{% block intitule_page %}{% trans 'movies' %}{% endblock %}
{% block content %}
    <div class="container-fluid">
      <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h3 class="h6 mb-0 text-gray">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb dark-theme">
                <li class="breadcrumb-item"><a class="text-dark" href="{% url 'dashboard' %}">{% trans 'dashboard' %}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{% trans 'all_movies' %}</li>
              </ol>
            </nav>
        </h3>
        <a href="{% url 'add_movie' %}" class="btn btn-sm btn-dark shadow-sm"><i class="fas fa-plus fa-sm text-white-50"></i>{% trans 'add_movie' %}</a>
      </div>
    {% if success_message %}
        <div class="alert alert-info alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">×</span><span class="sr-only">Close</span>
          </button>
            <i>{{ success_message }}</i>
        </div>
    {% endif %}
      <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-dark">{% trans 'all_movie' %}</h6>
            </div>
            <div class="card-body">
                {% if all_movie %}
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                          <thead>
                            <tr>
                              <th>N°</th>
                              <th>{% trans 'title' %}</th>
                            </tr>
                          </thead>
                          <tfoot>
                            <tr>
                              <th>N°</th>
                              <th>{% trans 'title' %}</th>
                            </tr>
                          </tfoot>
                          <tbody>
                            {% for movie in all_movie %}
                              <tr>
                                <td>{{ movie.0 }}</td>
                                <td><a href="{% url 'detail_movie' movie.1 %}">{{movie.2}}</a></td>
                              </tr>

                            {% endfor %}
                          </tbody>
                        </table>
                    </div>
                {% endif %}
            </div>
      </div>
    </div>
{% endblock %}