{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Site de distribution de contenu multimédia">
    <meta name="author" content="LeChatong">
    <meta name="keywords" content="LeChatongUniverse, LeChatong, lechatong, lechatonguniverse, ulrich tchatong">
    {% block META_OG %}{% endblock %}

  <title>{% block title %}LeChatongUniverse - {% block intitule_page %}{% endblock %}{% endblock %}</title>
    <link rel="me" href="https://twitter.com/LeChatong">
  <!-- Bootstrap core CSS -->
  <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'css/shop-homepage.css' %}" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="{% url 'home' %}">LeChatongUniverse</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
          <form class="form-inline" action="{% url 'search_movies' %}" method="get">
            <input class="form-control mr-sm-4" name="query" type="search" placeholder="Avengers, Star Wars ..." aria-label="Search">
            <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Rechercher</button>
          </form>

          {% block menu_vav %}{% endblock %}
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">
    {% block content %}{% endblock %}


  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; <a class="text-light" target="_blank" href="https://www.linkedin.com/in/ulrich-armel-tchatong-0a3860bb/">LeChatong</a>  2019</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="{% static 'js/bootstrap.bundle.min.js'  %}"></script>


</body>

</html>
