{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Site de distribution de contenu multimédia">
    <meta name="author" content="LeChatong">
    <meta name="keywords" content="LeChatongUniverse, LeChatong, lechatong, lechatonguniverse, ulrich tchatong">
    <meta name="robots" content="index, follow">
    <meta property="og:image:height" content="674" />
    <meta name="msvalidate.01" content="E67CCE510B86D2BEA2A0FAEF914BEB27" />
    <meta name="google-site-verification" content="NQbARh2Ayw_CwjEqXMKEYPPaiWkJP9QK8pibbuZHmWg" />


    {% block icon %}<link rel="icon" type="image/x-icon" href="{% static 'logo.png' %}">{% endblock %}
    {% block META_OG %}
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:description" content="Site de distribution de contenu multimédia." />
        <meta name="twitter:title" content="LeChatongUniverse | Movies, TV and Anime" />
        <meta name="twitter:site" content="@LeChatong" />
        <meta name="twitter:image" content="https://lechatonguniverse.herokuapp.com{% static 'LCU-icon.png' %}" />
        <meta name="twitter:creator" content="@LeChatong" />
        <meta property="fb:app_id" content="{{ '285736978971421' }}">
        <meta property="twitter:card" content="summary">
    {% endblock %}

    <title>{% block title %}LeChatongUniverse - {% block intitule_page %}{% endblock %}{% endblock %}</title>
    <link rel="me" href="https://twitter.com/LeChatong">

    {% block more_link %}
        <!-- Bootstrap core CSS -->
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

      <!-- Custom styles for this template -->
        <link href="{% static 'css/shop-homepage.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    {% endblock %}

    <!-- for GoogleAds -->
    <script data-ad-client="ca-pub-9571032069937589" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>

<body id="page-top"><!--style="background-image: url({% static 'Christmas.jpg' %});
        background-size: 100% 100%; background-repeat: no-repeat; background-attachment: fixed;"-->

  <!-- Navigation -->
    {% block navigation %}

    {% endblock %}


  <!-- Page Content -->

    {% block main %}

    {% endblock %}
  <!-- /.container -->

  <!-- Footer -->
    {% block footer %}

    {% endblock %}
  <!-- /.Footer -->



{% block more_script %}
<!-- Bootstrap core JavaScript-->
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="{% static 'js/bootstrap.bundle.min.js'  %}"></script>
  <script src="//instant.page/3.0.0" type="module" defer integrity="sha384-OeDn4XE77tdHo8pGtE1apMPmAipjoxUQ++eeJa6EtJCfHlvijigWiJpD7VDPWXV1"></script>
{% endblock %}

</body>

</html>
